@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> <a href="https://www.youtube.com/channel/UConDjxIMUiGUPHamQGgoZ6A">TrickSoLogic - BlackCoderCoreMVCChartsALLDEMO</a></p>
