@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<address>
    <strong>Support:</strong> <a href="mailto:contactusforanyquery@gmail.com">Mail Us</a><br />
    <strong>Social:</strong> <a href="https://www.youtube.com/channel/UConDjxIMUiGUPHamQGgoZ6A">YouTube</a>
</address>
